<div class="card-container">
    <div class="god-card-full {{class}}">
        <div class="card-content">
            <div class="name-class">
                <h3>{{name}}</h3>
            </div>
            <div class="card-image-container-full">
               <img class="card-image-full" src="/images/cards/{{image}}" />
            </div>
            <div class="character-info">
                <p>Class: {{class}}<br/>
                {{description}}</p>
            </div>
            <div class="points">
                Attack: {{attack_points}}<br/>
                Defend: {{defense_points}}</p>
            </div>
        </div>
    </div>
    {{!-- <button type="button" class="btn btn-primary add-button">Add to deck</button> --}}
</div>